.convert-pay-section {
    padding: 2rem 90px;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
}

.convert-title {
    padding: 50px;
    background: #5CE7E7;
    box-shadow: 10px 10px 10px rgba(56, 56, 56, 0.15);
    border-radius: 10px;
}

.convert-title h4 {
    font-family: Gotham;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 150%;
    text-align: left;
    margin: 0;
    color: #1C202B;
}